.contact_input,
.message_area {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid rgb(234, 232, 232);
  border-radius: 10px;
  padding: 16px 16px;
  color: var(--color-primary);
  font-size: 13px;
  outline: none;
  font-family: var(--font-body);
  margin-bottom: 15px;
      font-family: var(--font-jakarta);

}

.message_area {
  width: 100%;
  resize: none;
  margin-bottom: 15px;
}

.inputContainer{
    width: 100%;

}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
 
}

.errorText{
    font-size: 12px;
    font-family: var(--font-body);
    color: red;
    margin: -10px 0px 0px
}