.announcementBar {
  width: 100%;
  background-color: var(--color-green); 
  color: #ffffff;
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  font-size: 18px;
  color: white;
}

.divider {
  color: white;
  flex: 10px;
}

.highlight {
  color: var(
    --color-bg-secondary
  ); 
  font-weight: 700;
  margin: 0 4px;
}

.shopLink {
  color: white;
  text-decoration: underline;
  margin-left: 8px;
  font-weight: 600;
}

.rightSection a {
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
}

.rightSection a:hover {
  opacity: 0.7;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


@media (max-width: 768px) {
  .socialLinks {
    display: none;
  }
  .container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .announcementBar {
    padding: 10px 0;
  }
}
