.mainSlider {
  margin: 200px 0px 50px 0px;
  z-index: 999;
}

.sliderContainer {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background-color: #f8f9fa; 
  position: relative;
  display: flex;
  align-items: center;
}

.logoTrack {
  display: flex;
  width: fit-content;
  gap: 20px;  
}

.logoItem {
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 80px;
  flex-shrink: 0;
}

.logoImage {
  max-width: 80%;
  max-height: 50%;
  object-fit: contain;
  filter: grayscale(0);  
}

.fadeOverlayLeft,
.fadeOverlayRight {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.fadeOverlayLeft {
  left: 0;
  background: linear-gradient(to right, #f8f9fa, transparent);
}

.fadeOverlayRight {
  right: 0;
  background: linear-gradient(to left, #f8f9fa, transparent);
}

/* --- RESPONSIVENESS --- */


/* Large Screens (Desktops) */
@media (max-width: 1024px) {
  .logoItem {
    width: 220px;
    height: 120px;
  }
  .logoTrack {
    gap: 40px;
  }
}

/* Medium Screens (Tablets) */
@media (max-width: 768px) {
  .logoItem {
    width: 180px;
    height: 100px;
  }
  .logoTrack {
    gap: 30px;
  }

  .mainSlider {
    margin: 40px 0 50px;
}
}